.back{
    align-items: center;
    background-color: black;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}

.roundedField{
    border-radius: 30px;
    padding: 2px;
}

.dark{
margin-left: 90%;
}

body {
    font-family: "Poppins", sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
  }
  
  .layout_padding {
    padding: 75px 0;
  }
  
  .layout_padding-top {
    padding-top: 75px;
  }
  
.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .heading_container h2 {
    font-weight: bold;
    margin: 0 10px 0 0;
    color: #050505;
    position: relative;
    font-family: "Poppins", sans-serif;
  }

  .heading_container h2 span {
    color: #f7672c;
  }
  /*  */

  .about_section {
    background-image: url(./images/about-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
  }
  
  .about_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .about_section .detail-box .heading_container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  
  .about_section .detail-box .heading_container h2 {
    color: #ffffff;
    margin-left: 50px;
  }
  
  .about_section .detail-box .heading_container h2 span {
    color: #f7672c;
  }

  .about_section .detail-box p {
    margin-top: 35px;
  }
  
  .detail-box a {
    display: inline-block;
    padding: 7px 20px;
    background-color: #f7672c;
    color: #ffffff;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid transparent;
    margin: 45px 0;
  }
  
  .about_section .detail-box a:hover {
    background-color: transparent;
    border-color: #f7672c;
    color: #f7672c;
  }